services:
  jekyll:
    image: ruby:3.1-bullseye
    container_name: al-folio-website
    working_dir: /srv/jekyll
    command: bash -c "apt-get update && apt-get install -y imagemagick python3-pip && pip3 install jupyter && gem install jekyll bundler && rm -f Gemfile.lock && bundle install && bundler exec jekyll serve --watch --port=8080 --host=0.0.0.0 --livereload --verbose --trace"
    ports:
      - 8080:8080
    volumes:
      - .:/srv/jekyll