/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #F2545B;
$red-color-dark:      #A4243B;
$orange-color:        #E1A95F;
$blue-color:          #4b70c9;
$blue-color-dark:     #0D3B66;
$cyan-color:          #A7BED3;
$green-color:         #81B5AE;
$green-color-dark:    #3E746D;
$purple-color:        #966EA7;
$light-purple-color:  #C4B5D0;
$yellow-color:        #E1A95F;

$grey-color:          #9A8F97;
$grey-color-light:    #C3BABA;
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;
