---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">{{ site.last_name }}</span>{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>

    Over the past three years, diffusion models have established themselves as a new generative modelling paradigm.
    Their empirical successes have broadened the applications of generative modelling to image, video, audio, 3D
    synthesis and science applications. As diffusion models become more and more popular and are applied to extremely
    diverse problems, it also becomes harder to track the key contributions in the field. This workshop aims to keep
    track of the recent advances and set guidelines for future research. By bringing together practice, methodology and
    theory actors we aim at identifying unexplored areas and pushing the frontier of diffusion model research.
    
    <br>
    <br>
    The workshop will be held on <b>Friday 15th December 2023 in Hall B1 (ground floor)</b> - we look forward to seeing you in New Orleans!
    <br>
    <br>

    <br>
    Ask questions to our panelists  <a href="https://docs.google.com/forms/d/e/1FAIpQLSeTRsWFvKlsFg31K8Vq6hHGOydmvd7YNMuOLOCcKgqSqO8mXw/viewform">here </a>
    <br>
    
    We would like to thank <b>Apple</b> and <b>NVIDIA</b> for sponsoring the workshop (and providing prizes - to be announced!)
    <br>

          <br>
        <div class="speakers">
            <h2>Keynote Speakers</h2>
            <div class="container">
                <div class="row row-cols-2">

                    <!-- Yang Song -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/yang.png" srcset="/assets/img/yang.png" style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Yang Song
                                        </h4>

                                        <h6 class="card-text">OpenAI
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://yang-song.net" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tali Dekel -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/tali.png" srcset="/assets/img/tali.png" style="width: 150px; height: 150px; object-fit: contain;">
        
                        </div>
                        <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Tali Dekel
                                        </h4>

                                        <h6 class="card-text">Weizmann Institute of Science, Google
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.weizmann.ac.il/math/dekel/home" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                                      <!-- Karsten -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/Karsten-Kreis.png" srcset="/assets/img/Karsten-Kreis.png" style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Karsten Kreis 
                                        </h4>

                                        <h6 class="card-text"> NVIDIA Research
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://karstenkreis.github.io" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Brian Trippe -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/brian.png" srcset="/assets/img/brian.png" style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Brian Trippe
                                        </h4>

                                        <h6 class="card-text"> Columbia University
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">

                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://briantrippe.com/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Jason Yim -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/jason.png" srcset="/assets/img/jason.png" style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Jason Yim
                                        </h4>

                                        <h6 class="card-text">MIT
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="http://people.csail.mit.edu/jyim/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <br>

    <br>
<div class="speakers">
    <h2>Lightning Talks</h2>
    <div class="container">
        <div class="row row-cols-2">

            <!-- Holden Lee -->
            <div class="card-item col">
                <div class="card">
                    <div class="row g-0">
                        <div class="card-img col-md-6">

                            <img src="/assets/img/holden.png" srcset="/assets/img/holden.png"
                                style="width: 150px; height: 150px; object-fit: contain;">

                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h4 class="card-title">Holden Lee
                                </h4>

                                <h6 class="card-text">John Hopkins University
                                </h6>

                                <div class="row ml-1 mr-1 p-0">


                                    <div class="website-icon">
                                        <div class="icon" data-toggle="tooltip" title="Website">
                                            <a href="https://holdenlee.github.io" title="Website" target="_blank"
                                                rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Hyungjin Chung -->
            <div class="card-item col">
                <div class="card">
                    <div class="row g-0">
                        <div class="card-img col-md-6">

                            <img src="/assets/img/Hyungjin.png" srcset="/assets/img/Hyungjin.png"
                                style="width: 150px; height: 150px; object-fit: contain;">

                        </div>
                        <div class=" col-md-6">
                            <div class="card-body">
                                <h4 class="card-title"> Hyungjin Chung
                                </h4>

                                <h6 class="card-text"> KAIST
                                </h6>

                                <div class="row ml-1 mr-1 p-0">


                                    <div class="website-icon">
                                        <div class="icon" data-toggle="tooltip" title="Website">
                                            <a href="https://www.hj-chung.com" title="Website" target="_blank"
                                                rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Shuang Li -->
            <div class="card-item col">
                <div class="card">
                    <div class="row g-0">
                        <div class="card-img col-md-6">

                            <img src="/assets/img/shuang.png" srcset="/assets/img/shuang.png"
                                style="width: 150px; height: 150px; object-fit: contain;">

                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h4 class="card-title">Shuang Li
                                </h4>

                                <h6 class="card-text"> MIT
                                </h6>

                                <div class="row ml-1 mr-1 p-0">

                                    <div class="website-icon">
                                        <div class="icon" data-toggle="tooltip" title="Website">
                                            <a href="https://people.csail.mit.edu/lishuang/" title="Website"
                                                target="_blank" rel="noopener noreferrer"><i
                                                    class="fas fa-address-card"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Gowthami Somepalli -->
            <div class="card-item col">
                <div class="card">
                    <div class="row g-0">
                        <div class="card-img col-md-6">

                            <img src="/assets/img/Gowthami.png" srcset="/assets/img/Gowthami.png"
                                style="width: 150px; height: 150px; object-fit: contain;">

                        </div>
                        <div class=" col-md-6">
                            <div class="card-body">
                                <h4 class="card-title"> Gowthami Somepalli
                                </h4>

                                <h6 class="card-text"> University of Maryland
                                </h6>

                                <div class="row ml-1 mr-1 p-0">


                                    <div class="website-icon">
                                        <div class="icon" data-toggle="tooltip" title="Website">
                                            <a href="https://somepago.github.io" title="Website" target="_blank"
                                                rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<br>
    
            <br>
        <div class="speakers">
            <h2>Panel</h2>
            <div class="container">
                <div class="row row-cols-2">

                    <!-- Arash Vahdat -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/arash.png" srcset="/assets/img/arash.png"
                                        style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Arash Vahdat
                                        </h4>

                                        <h6 class="card-text">NVIDIA Research
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="http://latentspace.cc" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Ruiqi Gao -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/ruiqi.png" srcset="/assets/img/ruiqi.png"
                                        style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Ruiqi Gao
                                        </h4>

                                        <h6 class="card-text"> Google
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://ruiqigao.github.io" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sander Dieleman -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/tisanderm.png" srcset="/assets/img/sander.png"
                                        style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Sander Dieleman
                                        </h4>

                                        <h6 class="card-text"> Google DeepMind
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">

                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://sander.ai" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Robin Rombach -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/robin.png" srcset="/assets/img/robin.png"
                                        style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Robin Rombach
                                        </h4>

                                        <h6 class="card-text">Stability AI
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://scholar.google.com/citations?user=ygdQhrIAAAAJ&hl=en" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <br>
    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/Valentin-480x360.jpg"
                    srcset="    /assets/resized/Valentin-480x360.jpg 480w,/ assets/img/Valentin.jpg 666w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Valentin De Bortoli
                    </h4>

                    <h6 class="card-text">ENS Paris
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/ValentinDeBort1" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=dn_F9I4AAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://vdeborto.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/Charlotte-v2-1400x1050.jpg"
                    srcset="    /assets/resized/Charlotte-v2-480x360.jpg 480w,    /assets/resized/Charlotte-v2-800x600.jpg 800w,    /assets/resized/Charlotte-v2-1400x1050.jpg 1400w,/ assets/img/Charlotte-v2.jpg 4272w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Charlotte Bunne
                    </h4>

                    <h6 class="card-text">ETH Zurich
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/_bunnech" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=U80atIAAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.bunne.ch/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/bahjat-v3.png" srcset="    /assets/img/bahjat-v3.png 480w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Bahjat Kawar
                    </h4>

                    <h6 class="card-text">Apple
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/bahjat_kawar" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=36gR46QAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://bahjat-kawar.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/chenlin-v2.png" srcset="/assets/img/chenlin-v2.png 480w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Chenlin Meng
                    </h4>

                    <h6 class="card-text">Stanford
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/chenlin_meng" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=nEFU7wIAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://cs.stanford.edu/~chenlin/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/song-v2.png" srcset="    /assets/img/song-v2.png ">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Jiaming Song
                    </h4>

                    <h6 class="card-text">Luma AI
                    </h6>
                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/baaadas" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=6dP660cAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://tsong.me/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/james-v2.png" srcset="/assets/img/james-v2.png">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">James Thornton
                    </h4>

                    <h6 class="card-text">Apple
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/JamesTThorn" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=oFZHOwgAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://jtt94.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/ye-v3.png" srcset="/assets/img/ye-v3.png">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Jong Chul Ye
                    </h4>

                    <h6 class="card-text">KAIST
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=HNMjoNEAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://bispl.weebly.com/professor.html" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>


    <br>
    <h3 class="post-title"><span class="font-weight-bold">Questions</span></h3>
    Contact us at
    <a href="mailto:diffusion.workshop.2023@gmail.com" target="_blank">diffusion.workshop.2023@gmail.com</a>.

  </article>

</div>
